body {
    font-size: 19px;
    font-family: Georgia;
}
p {
    margin-bottom: 20px;
    margin-top: 20px;
}
div.quote-container blockquote p {
    font-size: 19px;
    background-color: #EEEEEE;
    padding: 20px;
}
pre {
    font-size: 15px;
}